.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/Voicu_Liviu.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Maven__junit_junit_4_11.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
duple.iml
target/classes/ro/bobdenaut/duple/DuplicateEntity$METHOD_TYPE.class
target/classes/ro/bobdenaut/duple/DuplicateEntity.class
target/duple.jar
target/maven-archiver/pom.properties
target/surefire-reports/ro.bobdenaut.duple.DuplicateEntityTest.txt
target/surefire-reports/TEST-ro.bobdenaut.duple.DuplicateEntityTest.xml
target/test-classes/ro/bobdenaut/data/Entitate.class
target/test-classes/ro/bobdenaut/data/EntitateDTO.class
target/test-classes/ro/bobdenaut/data/Somefield.class
target/test-classes/ro/bobdenaut/duple/DuplicateEntityTest.class